.main-navigation {
  position: relative;
  .menu-menu-1-container {
    position: relative;
  }
}

.intro {
  text-align: center;
  background-color: $salmon;
  .entry-content {
    margin: 0;
    p {
      width: 80%;
      margin: auto;
    }
  }
}

.team {
  position: relative;
  text-align: center;
  background-color: $watermelon;
  .team-member {
    width: 25%;
    padding: 0 2em;
    display: inline-block;
  }
}

.more-info {
  text-align: center;
  background-color: $olive;
  &-content {
    margin: 0;
    width: 80%;
    margin: auto;
  }
}

.mailchimp {
  background-color: $salmon;
  #mc_embed_signup {
    margin: auto;
    width: 50%;
  }
  &-header {
    text-align: center;
  }
  label {
    display: block;
  }
  &-input {
    width: 100%;
  }
}
