.main-navigation {
  position: relative;
  .menu-menu-1-container {
    position: relative;
  }
}

.intro {
  text-align: center;
  background-color: orange;
  .entry-content {
    margin: 0;
    p {
      width: 80%;
      margin: auto;
    }
  }
}

.team {
  position: relative;
  text-align: center;
  .team-member {
    width: 33%;
    display: inline-block;
  }
}
