.main-navigation {
  position: relative;
  .menu-menu-1-container {
    position: relative;
  }
}

.intro {
  text-align: center;
  background-color: $salmon;
  .entry-content {
    margin: 0;
    p {
      width: 65%;
      margin: auto;
    }
  }
}

.team {
  position: relative;
  text-align: center;
  background-color: $watermelon;
  &-container {
    width: 80%;
    margin: auto;
  }
  &-member {
    position: relative;
    width: 33%;
    display: inline-block;
    &:hover {
      .team-member-info {
        display: block;
      }
    }
    &-info {
      display: none;
      @include center;
    }
  }
}

.more-info {
  text-align: center;
  background-color: $olive;
  &-content {
    margin: 0;
    width: 65%;
    margin: auto;
  }
}

.mailchimp {
  background-color: $salmon;
  color: $white;
  #mc_embed_signup {
    margin: auto;
    width: 50%;
  }
  &-header {
    text-align: center;
  }
  label {
    display: block;
  }
  &-input {
    width: 100%;
    border: 1px solid $white !important;
    background-color: transparent;
  }
  &-button {
    color: $white !important;
    background-color: $olive !important;
    width: 10em;
    height: 5em;
    border: 0 !important;
  }
}

.instagram-feed {
  background-color: $gray;
  li {
    list-style: none;
  }
}
