// We’re using Playfair Bold for the big statements and headings; Karla bold all caps, for bylines and subheadings, and Lato light and regular for body copy

.t-playfair-black {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
}

.t-playfair-black-italic {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
}

.t-lato-reg {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
}

.t-lato-light {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  font-style: normal;
}

.t-karla-reg {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
}
